# Pré-requisitos
*.d

# Arquivos objeto
*.o
*.ko
*.obj
*.elf

# Saída do linker
*.ilk
*.map
*.exp

# Cabeçalhos pré-compilados
*.gch
*.pch

# Bibliotecas
*.lib
*.a
*.la
*.lo

# Objetos compartilhados (incluindo DLLs no Windows)
*.dll
*.so
*.so.*
*.dylib

# Executáveis
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Arquivos de depuração
*.dSYM/
*.su
*.idb
*.pdb

# Pastas Locais
.vscode/
outros/